:root {
  --green: #{$green};
  --green-secondary: #{$green-secondary};
  --green-tertiary: #{$green-tertiary};
  --blue: #{$blue};
  --white: #{$white};
  --grey: #{$grey};
  --grey-secondary: #{$grey-secondary};
}
