/* Font */
$rem-base: 16;

/* Colors */
$green: #69bf4a;
$green-secondary: #a2e28b;
$blue: #044dd8;
$white: #ffffff;
$grey: #252525;
$grey-secondary: #acb6c1;

/* Screens */
$min-width: 20rem;
$max-width: 79.375rem;
