.header {
  &--action-bar {
    &__left {
      strong,
      a {
        font-size: rem-calc(16);
      }

      @media only screen and (min-width: theme("screens.lg")) {
        strong,
        a {
          font-size: rem-calc(18);
        }
      }
    }
  }

  &--logo {
    max-width: rem-calc(80);

    @media only screen and (min-width: theme("screens.md")) {
      max-width: rem-calc(100);
    }
  }
}
