.button {
  padding: rem-calc(9) rem-calc(15);
  border-radius: rem-calc(5);
  line-height: 1;

  @media only screen and (min-width: theme("screens.lg")) {
    padding: rem-calc(15) rem-calc(30);
  }

  &__green {
    color: white;
    background-color: $green;
    transition: 0.15s ease-in-out background-color;

    &:hover,
    &:focus {
      background-color: $green-tertiary;
    }
  }

  &__blue {
    color: white;
    background-color: $blue;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transform: translateX(0);
      transition: 0.15s ease-in-out transform;
    }

    &:hover,
    &:focus {
      svg {
        transform: translateX(rem-calc(5));
      }
    }

    &-top {
      svg {
        transform: translateY(0);
      }

      &:hover,
      &:focus {
        svg {
          transform: translateY(rem-calc(-3));
        }
      }
    }
  }
}
